.modal-xl {
    max-width: 95%;
}

.modal-body.p-0 .content {
    padding: 1.5rem;
}

#studentWizardModal .card {
    border: none;
    box-shadow: none;
}

#studentWizardModal .wizard-steps {
    margin-top: 0;
}


